<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354617669306-8mud1ainenqk1nu7fjkarflknttbt7k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354617669306-8mud1ainenqk1nu7fjkarflknttbt7k8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354617669306-j03krqnrs7hefu1t7e12ppot9qiju7r8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA45I0qKn9IUN7LJ39En-pV_hCG8_A6uas</string>
	<key>GCM_SENDER_ID</key>
	<string>354617669306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterIlk</string>
	<key>PROJECT_ID</key>
	<string>flutter-ilk-df53c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ilk-df53c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354617669306:ios:aa0e0ad2f3880484e87483</string>
</dict>
</plist>